@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ELEMENT SECTORS */
body {
    background-image: url('https://github.com/LemuelVelez/LEM-TEASHOP/blob/main/images/pexels-i%C5%9F%C4%B1l-8109358.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

div {
    background-color: rgb(228, 202, 168);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* CLASSNAME SELECTORS */

.teaMenu {
    background-color: rgba(228, 202, 168, 0.584);
    padding: 20px;
}

.teaItem p {
    /* background-color: greenyellow; */
    display: inline-block;
}

.teaFlavor, .teaCollection {
    background-color: lightgreen;
    text-align: left;
    width: 75%;
}

.teaPrice, .collectionPrice {
    background-color: lightcoral;
    text-align: right;
    width: 25%;
}