@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ELEMENT SECTORS */
body {
    background-image: url('https://github.com/LemuelVelez/LEM-TEASHOP/blob/main/images/pexels-i%C5%9F%C4%B1l-8109358.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}

div {
    background-color: rgb(228, 202, 168);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, p{
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

hr{
    height: .5px;
    background-color: rgb(228, 202, 168, 0.9);
    border-color: rgba(228, 202, 168, 0.406);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);   
    -moz-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.75);
}

/* CLASSNAME SELECTORS */

.teaMenu {
    background-color: rgba(228, 202, 168, 0.584);
    padding: 20px;
    max-width: 500px;
}

.established{
    font-style: italic;
}

.teaItem p {
    /* background-color: greenyellow; */
    display: inline-block;
    font-weight: 400;
}

.teaFlavor, .teaCollection {
    /* background-color: lightgreen; */
    text-align: left;
    width: 75%;
}

.teaPrice, .collectionPrice {
    /* background-color: lightcoral; */
    text-align: right;
    width: 25%;
}